
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  line-height: 1.6;
  color: #333;
  background-color: #ebc8db;
}


header {
  background: #c574b6;
  color: #683987;
  padding: 20px 0;
  text-align: center;
}

header h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}



nav a {
  color: #75397b;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}


section {
  padding: 60px 20px;
  max-width: 1000px;
  margin: auto;
 
}


.about {
  text-align: center;
}

.about h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color:#683987;
  
}


.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;

  color:#683987;

}

.project-card {
  background: #d498c6;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(100, 11, 11, 0.1);
  transition: transform 0.3s;
}

.project-card:hover {
  transform: translateY(-10px);
}

.project-card h3 {
  margin-bottom: 10px;
  color:#69199e;

}


.contact {
  text-align: center;
  color: #683987;
}

.contact a {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background: #b060a6;
  color: black;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.3s;
}

.contact a:hover {
  background: #5750d4;
}


footer {
  text-align: center;
  padding: 20px;
  background: #333;
  color: #fff;
}
